body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.cabecalho {
  padding: 10px 0;
  width: 100%;
  height: 200px;
}
.cabecalho img{
  width: 410px;
  height: 188px;
  float: left;
}
.cabecalho .nav-menu{
  width: 40%;
  float: right;
}
.nav-menu ul{
  text-align: center;
  margin-top: 60px;
}
.nav-menu li{
  display: inline;
  list-style: none;
  padding: 20px;
}
.nav-menu a{
  text-decoration: none;
  color: #333;
  padding-bottom: 5px;
  transition: 0.5s;
}
.nav-menu a:hover{
  border-bottom: 2px solid #F78F1E;
  transition: 0.5s;
}
.chamada {
  background-color: #2283c9;
  padding: 60px 15px;
}

.chamada h1 {
  margin: 0;
  color: #fff;
  font-size: 36px;
  text-align: center;
}

.imoveis {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
}

.imoveis article {
  margin: 30px 0;
}
  .imoveis article {
    float: left;
    width: calc(50% - 10px);
  }

  .imoveis article:nth-child(even) {
    margin-left: 20px;
  }

.imoveis article img {
  max-width: 100%;
}

.imoveis article h2 {
  font-size: 20px;
  color: #686868;
  margin-bottom: 25px;
}

.imoveis .botao {
  padding: 10px 15px;
  background-color: #00B2EE;
  color: #fff;
  text-decoration: none;
}

@media (max-width: 800px) {
  .chamada {
    text-align: center;
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .cabecalho {
  height: 294px;
}
.cabecalho img{
  display: block;
  margin: 0 auto;
  float: none;
}
.cabecalho .nav-menu{
  width: 100%;
  margin: 0 auto;
}
  .chamada h1 {
    font-size: 54px;
  }
  .imoveis article {
    width: 100%;
  }
}




